@charset "utf-8";
/* CSS Document */

*{
	margin:0px;
	padding:0px;	
}
div.box{
	margin:15px;
	float:left;
	background-color:#e2e2e2;
	padding:5px;
	width:300px;
	width:auto !important;
	height:auto;
	border:1px solid #006000;	
}
div.box p{
	width:auto;
	text-align:center;
	font-family:UTM Avo;
}
