#home_adv{
	float: right;
	position: relative;
	width: 208px;
	min-height: 100%;
}
#right_adv{
	float: right;
	position: relative;
	width: 208px;
	min-height: 100%;
	border-bottom: 1px double #DDDDDD;
    padding-bottom: 20px;
}
#img_adv img { padding: 1px; border: 1px double #ddd;height: 73px;width: 204px;}
#title_name{color: #333300 !important;font-weight: bold;line-height: 1.3;font-size: 18px;text-align: center;padding: 4px;margin-bottom: 3px;}
#the_conted_adv p {color: #333300 !important;line-height: 1.5;font-style: italic;}