#wapper{margin: 0 auto;height: 100%;width: 958px;position: relative;left: -47px;}
#wapper-about1{width: 999px;/*height: 647px; background:url('images/about12.png') no-repeat;*/}
#text_ez{text-align: justify;font-size: 13px;position: relative;top: -63px;width: 855px;height: 254px;margin-right: 87px;margin-left: 38px;margin-top: -21px;margin-bottom: 24px;font-family: arial;color: #818486;}
#text_ez p{font-size: 13px;color:#818486;font-family: arial;}
.text_ul{width: 855px;height: 166px;font-size:13px;color: #626161;margin: 12px 0px 20px 0px;font-family: arial;}
.li_text{height: auto;margin: 20px 0px 20px 0px;color: #818486;}
.ez_meta{font-size: 20.5 px;color:#626161;font-weight: bold;}
#skylive{width: 963px;height: 350px;margin-top: 10px;}
#wapper-about2{height: 558px;background: #fff repeat;}
#wapper-about3{height: 520px;background: #fff repeat;}
#wapper-about4{height: 1538px;;background: #fff repeat;}
p.text_view{color: #626161;font-size: 25px;margin: 0px 0px 0px 306px;width: 492px;height: 28px;font-weight: bold;}
#div_view{width: 958px;height: 530px;margin: 56px 0px 0px 0px;}
#view123{float: left;width: 250PX;height: 530px;margin: 0px 26px 0px 41px;}
img.images_view{width: 250px;height: 250px;position: relative;right: 7px;}
#name_view{font-size: 20px;color: #626161;font-weight: bold;height: 20px;margin: 29px 0px 12px 0px;}
#posi_view{color: #818486;font-size: 16px;height: 18px;margin-bottom: 16px;}
#meta_posi{color: #818486;font-size: 13px;font-family: arial;text-align: justify;}