#gioithieu {margin: 0px 20px 0px 20px;width: 918px;}
#git_giotthieu{display: inline-block;position: relative;float: left;width: 960px;margin-bottom: 16px;}
#name_gt a{line-height: 1.3;color: #666666;font-weight: bold;font-size: 18px;float:left;position: relative; }
#contend_gt p{color: #333300 !important;height: auto;margin-bottom: 15px;line-height: 1.8;text-align: justify;}
#so_dt {line-height: 1.3;color: #666666;font-weight: bold;font-size: 18px; float:right;position: relative; right: 66px;}